body {
    margin:0;

}
.environment {
	height:10px;
	background-color:#000000;
}
table th {
	text-align:left;
}
.chatbutton {
	width:200px;
	height:40px;
	background-color:orange;
	text-align:center;
	line-height: 40px;
	position:fixed;
	bottom:0;
	right:50px;
	cursor:pointer;
}
.chatarea {
	height:340px;
	background-color:#EEEEEE;
	overflow-y:scroll;
}
.inputarea {
	height:50px;
	background-color:#FFFFFF;
}
#msg {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-size:15px;
}
.msgitem {
	margin-bottom:5px;
}